# macOS
.DS_Store

# Logs
*.log
debug.log

# Node
node_modules/

# Vendor
vendor/

# Cache
cache/
upgrade/

# Uploads (IMPORTANT)
uploads/

# Env
.env

# IDE
.vscode/
.idea/

# Temp
*.tmp

# Backup plugins
wpvividbackups/
ai1wm-backups/
updraft/

# WordPress uploads cache
uploads/cache/